{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["warn", "single"],
    "no-console": ["warn", { "allow": ["info", "error"] }],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "comma-dangle": ["error", "always-multiline"],
    "max-len": ["error", { "code": 120 }]
  }
}
